<!-- assets/templates/form.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Formularz Portfela</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <form method="POST" id="portfolio-form">
            {% csrf_token %}
            <label for="selected_assets">Wybierz aktywa:</label>
            <select id="selected_assets" name="selected_assets" multiple>
                {% for asset in assets %}
                    <option value="{{ asset.name }}">{{ asset.name }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="portfolio_name">Nazwa portfela:</label>
            <input type="text" id="portfolio_name" name="portfolio_name" required>
            <br>
            <input type="submit" value="Utwórz Portfel">
        </form>
    </div>

    <script>
        $(document).ready(function() {
            // Obsługa przesyłania formularza w formie JSON
            $("#portfolio-form").submit(function(e) {
                e.preventDefault();
                var selectedAssets = $("#selected_assets").val();
                var portfolioName = $("#portfolio_name").val();
                var portfolioData = {
                    selected_assets: selectedAssets,
                    portfolio_name: portfolioName
                };
                $.ajax({
                    type: "POST",
                    url: "/form/",
                    data: JSON.stringify(portfolioData),
                    contentType: "application/json",
                    dataType: "json",
                    success: function(response) {
                        alert(response.message);
                        location.reload();  // Odśwież stronę po sukcesie
                    },
                    error: function(error) {
                        alert("Błąd podczas tworzenia portfela.");
                    }
                });
            });
        });
    </script>
</body>
</html>
