{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asset Data</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    
</head>
<body>
<br><br><br><br><br><br>

<button type="button" onclick="window.location.href='/'">Go to portfolio creation</button>

<h1>Assets Data</h1>

<table id="assetTable" border="1">
    <thead>
        <tr>
            <th>Month</th>
            <!-- Nagłówki aktywów zostaną dodane dynamicznie -->
        </tr>
    </thead>
    <tbody id="assetTableBody"></tbody>
</table>

<script>
    $(document).ready(function() {
        // Pobranie parametrów z URL
        const urlParams = new URLSearchParams(window.location.search);
        const assetsJoined = urlParams.get('assets');  // Pobranie parametrów 'assets' z URL
        const assets = assetsJoined ? assetsJoined.split(',') : [];

        // Dodaj dynamicznie nagłówki tabeli dla assetów
        assets.forEach(function(asset, index) {
            $('#assetTable thead tr').append('<th>' + escapeHtml(asset) + '</th>');
        });

        // Zapytaj o dane dla assetów za pomocą JS rest api
        $.ajax({
            url: '/api/data/',
            method: 'GET',
            data: { assets: assetsJoined },
            success: function(data) {
                // Wypełnij tabelę danymi
                data.forEach(function(row) {
                    var month = row.month;
                    var values = row.values;                
                    var rowHtml = '<tr><td>' + escapeHtml(month) + '</td>' +
                        values.map(function(value) {
                            // Zaokrąglenie wartości do dwóch miejsc po przecinku
                            var roundedValue = parseFloat(value).toFixed(2);
                            return '<td>' + escapeHtml(roundedValue) + '</td>';
                        }).join('') +
                        '</tr>';
                
                    $('#assetTableBody').append(rowHtml);
                });
            },
            error: function() {
                alert('Error while fetching asset data.');
            }
        });

        function escapeHtml(value) {
            var entityMap = {
                '&': '&amp;',
                '<': '&lt;',
                '>': '&gt;',
                '"': '&quot;',
                "'": '&#39;',
                '/': '&#x2F;',
                '`': '&#x60;',
                '=': '&#x3D;'
            };
            return String(value).replace(/[&<>"'`=\/]/g, function(s) {
                return entityMap[s];
            });
        }
    });
</script>

</body>
</html>
