<!-- assets/templates/form.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Formularz Portfela</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <p>This application is for portfolio management using the Markovitz theory.</p>
        <p>For more info check <a href="https://medium.com/@JaveriaSaif/markowitz-portfolio-6789a65f26d3" target="_blank">theory</a></p>
        <br>
        <form method="POST" id="portfolio-form">
            {% csrf_token %}
            <label for="selected_assets">Select the tickers of Polish joint-stock companies that you want to add to your portfolio:</label>
            <br>
            <!-- Zmienione pole input na select -->
            <select id="selected_assets" name="selected_assets">
                <option value="" disabled selected>Select an asset</option>
                {% for asset in assets %}
                    <option value="{{ asset.name }}">{{ asset.name }}</option>
                {% endfor %}
            </select>
            <button type="button" id="add-asset">Add Asset</button>
            <br>
            <br>
            <label>Selected Assets:</label>
            <ul id="selected-assets-list">
            </ul>
            <br>
            <label for="portfolio_name">Portfolio name:</label>
            <input type="text" id="portfolio_name" name="portfolio_name" required>
            <br><br>
            <input type="submit" value="Create portfolio" formaction="">
            <br><br>
            <button type="button" id="show-data-btn">Show data for assets</button>
        </form>
    </div>

    <script>
        $(document).ready(function() {
            var selectedAssets = [];

            // Funkcja dodająca aktywa
            function addSelectedAsset(asset) {
                selectedAssets.push(asset);
                $("#selected-assets-list").append("<li>" + asset + "</li>");
                $("#selected_assets").val(""); // Zresetowanie wyboru w select
            }

            // Obsługa kliknięcia przycisku dodawania aktywa
            $("#add-asset").click(function() {
                var asset = $("#selected_assets").val();
                if (asset && selectedAssets.indexOf(asset) === -1) {
                    addSelectedAsset(asset);
                }
            });

            // Usuwanie aktywa z listy
            $("#selected-assets-list").on("click", "li", function() {
                var asset = $(this).text();
                selectedAssets = selectedAssets.filter(function(item) {
                    return item !== asset;
                });
                $(this).remove();
            });

            // Obsługa tworzenia portfela
            $("#portfolio-form").submit(function(e) {
                e.preventDefault();
                var portfolioName = $("#portfolio_name").val();

                var portfolioData = {
                    selected_assets: selectedAssets,
                    portfolio_name: portfolioName
                };

                $.ajax({
                    type: "POST",
                    url: "/",
                    data: JSON.stringify(portfolioData),
                    contentType: "application/json",
                    dataType: "json",
                    success: function(response) {
                        window.location.href = `/wallets/${portfolioName}`;
                    },
                    error: function(error) {
                        if (error.status === 409) {
                            alert("Portfolio already exists!");
                        } else {
                            alert("Optimization impossible. Loosen optimization constraints!");
                        }
                    }
                });
            });

            // Przyciski wyświetlania danych
            $("#show-data-btn").click(function() {
                // Przekierowanie do strony danych z wybranymi aktywami
                var assetsQueryParam = selectedAssets.join(',');
                window.location.href = `/data/?assets=${assetsQueryParam}`;  // Generujemy link do strony
            });
        });
    </script>
</body>
</html>