<!-- assets/templates/form.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Formularz Portfela</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <form method="POST" id="portfolio-form">
            {% csrf_token %}
            <label for="selected_assets">Choose assets:</label>
            <select id="selected_assets" name="selected_assets" multiple>
                {% for asset in assets %}
                    <option value="{{ asset.name }}">{{ asset.name }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="portfolio_name">Portfolio name:</label>
            <input type="text" id="portfolio_name" name="portfolio_name" required>
            <br>
            <input type="submit" value="Create portfolio">
        </form>
    </div>

    <script>
        $(document).ready(function() {
            // Json form
            $("#portfolio-form").submit(function(e) {
                e.preventDefault();
                var selectedAssets = $("#selected_assets").val();
                var portfolioName = $("#portfolio_name").val();
                
                // make sure that this variable is list
                if (!Array.isArray(selectedAssets)) {
                    selectedAssets = [selectedAssets];
                }
                
                var portfolioData = {
                    selected_assets: selectedAssets,
                    portfolio_name: portfolioName
                };
                $.ajax({
                    type: "POST",
                    url: "/",
                    data: JSON.stringify(portfolioData),
                    contentType: "application/json",
                    dataType: "json",
                    success: function(response) {
                        window.location.href = '/result';  // redirect
                    },
                    error: function(error) {
                        alert("Optimalization imposible. Loosen optimization constraints ");
                    }
                });
            });
        });
    </script>
    
</body>
</html>
