<!-- assets/templates/form.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Formularz Portfela</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <p> This application is for portfolio management using the Markovitz theory. </p>
        <p> For more info check <a href="https://medium.com/@JaveriaSaif/markowitz-portfolio-6789a65f26d3" target="_blank">theory</a> </p>
        <br>
        <form method="POST" id="portfolio-form">
            {% csrf_token %}
            <label for="selected_assets">Choose assets:</label>
            <input type="text" id="selected_assets" name="selected_assets" list="asset-list" multiple>
            <datalist id="asset-list">
                {% for asset in assets %}
                    <option value="{{ asset.name }}">{{ asset.name }}</option>
                {% endfor %}
            </datalist>
            <button type="button" id="add-asset">Add Asset</button>
            <br>
            <br>
            <label>Selected Assets:</label>
            <ul id="selected-assets-list">
            </ul>
            <br>
            <label for="portfolio_name">Portfolio name:</label>
            <input type="text" id="portfolio_name" name="portfolio_name" required>
            <br>
            <input type="submit" value="Create portfolio" formaction="">
            <br>
            <button type="button" id="show-data-btn">Show data</button>
        </form>
    </div>

    <script>
        $(document).ready(function() {
            var selectedAssets = [];

            // Function to add selected asset
            function addSelectedAsset(asset) {
                selectedAssets.push(asset);
                $("#selected-assets-list").append(asset + "<br>");
                $("#selected_assets").val(""); // Clear the input field
            }

            // Add asset button click handler
            $("#add-asset").click(function() {
                var asset = $("#selected_assets").val();
                if (asset && selectedAssets.indexOf(asset) === -1) {
                    addSelectedAsset(asset);
                }
            });

            // Remove asset from the list
            $("#selected-assets-list").on("click", "li", function() {
                var asset = $(this).text();
                selectedAssets = selectedAssets.filter(function(item) {
                    return item !== asset;
                });
                $(this).remove();
            });

            // creating portfolio by post req
            $("#portfolio-form").submit(function(e) {
                e.preventDefault();
                var portfolioName = $("#portfolio_name").val();

                var portfolioData = {
                    selected_assets: selectedAssets,
                    portfolio_name: portfolioName
                };
                $.ajax({
                    type: "POST",
                    url: "/",
                    data: JSON.stringify(portfolioData),
                    contentType: "application/json",
                    dataType: "json",
                    success: function(response) {
                        window.location.href = `/wallets/${portfolioName}`;  // redirect
                    },
                    error: function(error) {
                        alert("Optimization impossible. Loosen optimization constraints ");
                    }
                });
            });
            

            $("#show-data-btn").click(function() {
                // Redirect to the data page with selected assets in the URL
                var redirectUrl = '/data/' + selectedAssets.join('&');
                window.location.href = redirectUrl;
            });
        });
    </script>
</body>
</html>
